<% @todo_lists.each do |todo_list| %>
	<div class="index_row clearfix">	
		<h2 class="work-task--top-panel_title"><%= link_to todo_list.title, todo_list %></h2>
		<!--<p class="todo_list_sub_title"><%= todo_list.description %></p>-->
	</div>
<% end %>

<div class="main-button-wrapper">
	<div id="main-button">
		<%= link_to "Add TODO List", new_todo_list_path %>
	</div>
</div>