<div class="welcome-word">

	<h2>Welcome to your first TODO App!</h2>
	<div class="main-buttons_wrapper">
		<%= link_to "LOG IN", new_user_session_path, class: "home-log-in_button" %>
		<%= link_to "SIGN UP", new_user_registration_path, class: "home-sign-up_button" %>
	</div>

</div>